*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

@import "./index.scss";
@import "./game.scss";
